@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root{
    --primary-color: #621f91;
    --second-color: #fff;
    --tertiary-color: #8217CC;
}

body{
    background-color: var(--tertiary-color);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

html { 
    min-width: 320px; 
    max-width: 1400px; 
}

#container {
    height: 550px;
    width: 360px;
    margin: 8vh auto;
    background: #f7f7f7;
    box-shadow: 0px 0px 25px var(--primary-color);
    border-radius: 4px
}

.title {
    background: var(--primary-color);
    color: var(--second-color);
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.tipsForm{
    padding-left: 20px;
    padding-right: 20px;
}

.formInput {
    background: #eee;
    padding: 5px 5px 8px 8px;
    outline: none;
    border: 2px solid transparent;
    transition: border 0.3s;
    border-radius: 4px;
}

#bill{
    width: 80px;
}

#people{
    width: 40px;
}

.formInput:focus {
    border: 2px solid var(--primary-color)
}

.formSelect {
    width: 100px;
    padding: 5px;
    font-size: 12px;
}

.formSubmit {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: var(--tertiary-color);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 17px;
    outline: none;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

.formSubmit:hover{
    background: var(--primary-color);
}

#totalTip {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

#total {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

.container {
    margin-bottom: 20px;
}
